body{
    background-image: url(https://image.freepik.com/free-psd/white-wood-texture-background-design_1022-75.jpg);
    max-width:100%;
}


h1.logo{
    border-style: dotted;
     max-height: 200px;
    max-width: 100%;
 background-color:aliceblue;
    text-align: center;
    padding: 10px;     
}
h1{
    margin-right: 0;
    max-width: 100%;
    font-family: 'Lato', sans-serif;
}

img.logo{
     margin-left: inherit;
    margin-right: 1em;
    max-width: 50px;
}



p.intro{
    align-content: center;
    font-weight: 200;
    float:right;
    box-sizing: border-box;
    display: inline-block;
    background-color:cornsilk;
    width: 100%;
    height:50%;
    border: 5px solid green;
    color:brown;
     font-family: 'Open Sans', sans-serif;
    font-size: 35px;
}
img.box{
     box-sizing: border-box;
     padding: 5px;
    margin: 5px;
    border-radius: 50%;
    width: 20%;
    float:left;
    max-height: inherit;
}

ul.nav{
    list-style-type:circle;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li.nav{
    font-family: 'Lato', sans-serif;
    font-size:120%;
    width:25%;
    display: inline;
    color:cornflowerblue;
    background-color: blanchedalmond;
    float:left;
}

ul.footer{
    
    font-family: 'Roboto', sans-serif;
   color:darkblue;
    overflow: hidden;
}
li.footer{
    font-family: 'Roboto', sans-serif;
    font-size:120%;
    width:25%;
    display: inline;
    color:black;
    float:left;
}
